version: '3.8'

services:
  php74-cli:
    build:
      context: ./php/cli/7.4/
      dockerfile: Dockerfile
    container_name: php74_cli_lnmp
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - ../:/var/www/html
  php81-cli:
    build:
      context: ./php/cli/8.1/
      dockerfile: Dockerfile
    container_name: php81_cli_lnmp
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - ../:/var/www/html
  php74-fpm:
    build:
      context: ./php/fpm/7.4/
      dockerfile: Dockerfile
    container_name: php74_fpm_lnmp
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - ../:/var/www/html
  php81-fpm:
    build:
      context: ./php/fpm/8.1/
      dockerfile: Dockerfile
    container_name: php81_fpm_lnmp
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - ../:/var/www/html
  redis:
    image: redis:latest
    container_name: redis_lnmp
    ports:
      - 6379:6379
  nginx:
    image: nginx:latest
    container_name: nginx_lnmp
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/sites-enabled:/etc/nginx/conf.d
      - ../:/var/www/html
    environment:
      - TZ=Asia/Taipei
  mysql:
    image: mysql:latest
    container_name: mysql_lnmp
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=lnmp_docker
      - MYSQL_USER=lnmp_docker
      - MYSQL_PASSWORD=lnmp_docker
    ports:
      - 3306:3306
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:


